.footer {
  background-color: #0b3c5d;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  min-height: 13vh;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 13vh; /* ensures footer-content matches footer height */
}

.footer-content p {
  color: white;
  padding-top: 4px;
  margin-bottom: 0 !important;
  text-align: center;
  font-size: small;
  line-height: 1.2; /* stable line-height */
}

.footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer nav ul li {
  margin: 0 15px;
}
