<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="">
      <img
        src="../../../assets/3.svg"
        height="85"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>



    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-font" href="about">About</a>
        </li>
      </ul>
  </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
