.blog-card {
  height: 200px; /* Set a fixed height to ensure all cards are the same size */
  width: 380px;
  display: flex;
  flex-direction: column;
}

.blog-card img {
  height: 150px; /* Fixed height for the image */
  object-fit: cover; /* Ensure the image covers the specified area without distortion */
}

.blog-card mat-card-content {
  flex-grow: 1;
  overflow: hidden;
}

.blog-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}
