#blog-post-container, #blog-content-block {
  display: flex;           /* Use flexbox to center the content */
  justify-content: center; /* Center the content horizontally */
}

#blog-content-block {
  padding-bottom: 190px;
}

#blog-post-container p, #blog-content-block p {
  width: 800px;           /* Default width for larger screens */
  max-width: 100%;        /* Ensure it does not exceed the container's width */
  margin: 15px 15px;         /* Add horizontal margins for padding */
  padding: 0 15px;        /* Padding to ensure text doesn't touch the edges */
  box-sizing: border-box;  /* Include padding in the element's total width */
}

/* Medium screens */
@media (max-width: 800px) {
  #blog-post-container p, #blog-content-block p {
    width: 500px;         /* Set width for medium screens */
    margin: 15px auto;
  }

  h3 {
    margin: 10px 75px;
  }
}

/* Mobile screens */
@media (max-width: 500px) {
  #blog-post-container p, #blog-content-block p {
    width: 350px;         /* Set width for mobile screens */
    margin: 10px auto;      /* Center the paragraph */
  }

  h3 {
    margin: 10px 150px;
  }
}

/* Mobile screens */
@media (max-width: 350px) {
  #blog-post-container p, #blog-content-block p {
    width: 250px;         /* Set width for mobile screens */
    margin: 9px auto;      /* Center the paragraph */
  }

  h3 {
    margin: 10px 200px;
  }
}

h2 {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 10px;
}

h3, h4 {
  display: block;
  margin-top: 25px;
  font-size: larger;
  padding: 0 15px;
}

p {
  text-align: justify;
  margin: 0.4em 0; /* Adds a 1em margin above and below the <p> element */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh auto 1vh;
}

.image-container img {
  width: 650px;
  height: auto;
}

ul {
  padding: 0 5.25rem;
}
