<div *ngIf="blogPost$ | async as blogPost">

  <div class="container justify-content-center custom-cont">
    <div class="d-flex align-items-center flex-column justify-content-center ">
      <img [src]="blogPost.fields.featuredImage.fields.file.url" alt="" class="feature-image top-left">
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          <a href="https://github.com/DavidRimar">
            <img
            src="../../../../assets/github-mark.svg"
            alt="github_profile_dr"
            style="width: 36px; height: 36px;">
          </a>
        </div>
        <div class="p-2">
          <a href="https://www.linkedin.com/in/david-r-32758790/">
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
            alt="linkedin_profile_dr"
            style="width: 36px; height: 36px;">
          </a>
        </div>
        <div class="p-2">
          <a href="https://www.youtube.com/channel/UCcqGf1BQt4E75ZesXRD_OZg">
            <img
            src="../../../../assets/youtube_logo_ddd.jfif"
            alt="youtube_ddd"
            style="width: 39px; height: 39px;">
          </a>
        </div>
      </div>
      <div *ngIf="blogPostContent$ | async as blogPostContent" [innerHTML]=blogPostContent>
      </div>

    </div>
  </div>
</div>
